*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: url("background3.jpg") no-repeat left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact1 {
  margin-top: -70px;
}
#mwork {
  margin-top: 210px;
}
#mwork p {
  color: #252525;
  line-height: 1.75em;
}
#mwork h1 {
  color: #252525;
  line-height: 1.3em;
}

h1, li {
  font-family: 'Roboto', sans-serif;
}
h3, p {
  font-family: 'Roboto Condensed', sans-serif;
}
.left a {
  color: #1d446b;
}
.left a:visited {
color: #1d446b;
}
.left a:link {
color: #1d446b;
text-decoration: none;
}
.left a:hover {
color: #e6e6e6;
text-decoration: underline;
}
.left a:active {
color: #252525;
text-decoration: line-through;
}


@media (min-width: 800px) {
.disp, #nav-mob, .mobile {
    display: none;
  }
.wrap2, .wrap3 {
    display: none;
}
nav {
  position: relative;
}
#logo img {
  width: 60px;
}
.navigation {
  float: right;
}
#logo {
  float: left;
  padding-left: 10px;
  padding-top: 10px
}
nav ul {
  list-style: none;
  padding-right: 20px;
  padding-top: 10px;
}
nav ul li {
  display: inline-block; margin: 5px; margin-top: 0px; font-size: 1.8em; color: #e6e6e6;
}
nav ul img {
  max-height: 40px;
}
nav li a:visited {
  color: #e6e6e6;
}
nav li a:link {
  color: #e6e6e6;
  text-decoration: none;
}
nav li a:hover {
  color: #252525;
}
nav li a:active {
  color: #252525;
}
.wrap {
  background-color: #d29a0d;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  box-shadow: 0px 0px 20px #000000;
  z-index: 9003;
}
#home-img img {
  display:block;
  margin: 0 auto;
  max-width: 70%;
  padding-top: 20px;
}
#home-img {
  margin: 0 auto;
  width: 90%;
  margin-top: 170px;
}
.decor {
  position: fixed;
  top: 0px;
  width: 150px;
  height: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: rgba(198, 122, 25, 0.5);
  overflow: hidden;
}
.decor2 {
  position: fixed;
  top: 0px;
  right: 0;
  width: 150px;
  height: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: rgba(198, 122, 25, 0.5);
  overflow: hidden;
}
.left{
  float: left;
  max-width: 49%;
}
.right {
  float: right;
  max-width: 49%;
}
.lright, .lright2 {
  max-width: 550px;
  margin-left: 60px;
}
.text-box1, .text-box2 {
  background-color: #d29a0d;
}
.img-box,.text-box1, .text-box2 {
  position: relative;
  margin-bottom: 100px;
}
.img-box img {
  max-width: 1200px;
}
.text-box1 {
  text-align: left;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1.25em;
}
h5 {
  font-family: sans-serif;
}
.txt-mar {
  padding: 50px 30px 50px 80px;
}
.txt-mar2 {
  padding: 50px 80px 50px 30px;
}
.txt-mar4{
  padding: 70px 0px 70px 0px;
}
.cat-loc {
  display: none;
}
.left{
  float: left;
  max-width: 44%;
  margin-bottom: 100px;
}
.lright3 {
  max-width: 400px;
  margin-left: 60px;
}
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:fixed;
   z-index: 9001;
   top:80px;
   left:0px;
   width:100%;
}
#popUpDiv1 {
	position:absolute;
	z-index: 9002;
}
#popUpDiv2 {
  position:absolute;
	z-index: 9002;
}
.readmore {
  background: #d29a0d;
  max-width: 800px;
  box-shadow: 0px 0px 40px #000000;
}
.read-wrap {
  max-width: 700px;
  padding: 70px 50px 70px 50px;
  margin: 0 auto;
}
.read-wrap h1, .read-wrap h3{
  text-align: center;
}
.readmore a {
  position: relative;
  top:30px;
  left:20px;
  color: #e6e6e6;
  text-decoration: none;
  font-size: 3em;
  border: solid #e6e6e6;
  border-width: 2px;
  padding: 10px 10px 0px 10px;
}
.readmore a:hover{
  color: #252525;
  border: solid #252525;
}
.clear {
  clear: both;
}
.rdtitle {
  max-width: 400px;
  background-color: #d29a0d;
  font-size: 1.7em;
  position: relative;
  margin-left: 50px;
  margin-top: -130px;
  padding-top: 1px;
  bottom: 15px;
  text-align: center;
}
.rdstrip {
  margin-left: 150px;
  margin-right: 150px;
  max-width: 800px;
}
.rd-txt {
  max-width: 500px;
  margin: 0 auto;
}
.img-box img {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .txt-mar4{
    padding: 70px 50px 70px 50px;
  }
  .left{
    max-width: 60%;
    margin-bottom: 0px;
  }
  .disp {
    display: block;
  }
  .disp2 {
    display: none;
  }
  .right {
    margin-right: 20%;
    margin-bottom: 80px;
    margin-top: -50px;
  }
}
}



@media (max-width: 799px) {
  .disp2, .decor2, .decor, #nav-web, .website, .readmore {
    display: none;
  }
  .img-box {
    max-width: 600px;
    margin: 0 auto;
  }
  .img-mob {
    margin-bottom: 80px;
  }
  .img-box img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .wrap3 {
    display: none;
  }
  #logo img {
    width: 40px;
  }
  #web {
    display: none;
  }
  .navigation {
    float: right;
  }
  #logo {
    float: left;
    padding-left: 10px;
    padding-top: 10px
  }
  nav ul {
    padding-right: 20px;
    padding-top: 10px;
  }
  nav ul {
    list-style: none;
    padding-right: 20px;
    padding-top: 10px;
  }
  nav ul li {
    display: inline-block;
    margin: 5px;
    margin-top: 0px;
    font-size: 1.2em;
    color: #e6e6e6;
  }
  nav ul img {
    max-height: 20px;
  }
  nav li a:visited {
    color: #e6e6e6;
  }
  nav li a:link {
    color: #e6e6e6;
    text-decoration: none;
  }
  nav li a:hover {
    color: #252525;
  }
  nav li a:active {
    color: #252525;
  }
  .wrap {
    background-color: #d29a0d;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 20px #000000;
    position: relative;
    z-index: 9002;
  }
  #home-img img {
    display:block;
    margin: 0 auto;
    max-width: 90%;
    padding-top: 20px;
  }
  #home-img {
    margin: 0 auto;
    width: 90%;
    margin-top: 60px;
  }
  .wrap2 {
    font-size: 1.4em;
    margin: 0px;
    margin-left: -20px;
    padding: 0px;
    width: 100%;
    margin-bottom: 60px;
  }
  .wrap2 ul img {
    max-height: 40px;
  }
  .wrap2 ul li {
    list-style: none;
  }
  #gr1, #gr2, #gr3, #gr4 {
    float: left;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .filler {
    clear: left;
  }
  .wrap2 ul {
    padding-top: 20px;
  }
  .wrap2 a {
    text-decoration: none;
  }
  #mob-t {
    position: relative;
    top: 10px;
  }
  .mob-nav-align {
    margin-top: 30px;
  }
  .text-box1, .disp {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .text-box1 {
    background-color: #d29a0d;
  }
  .txt-mar {
    max-width: 350px;
    margin: 0 auto;
    padding: 40px 40px 10px 40px;
  }
  .cat-loc {
    max-width: 400px;
    background-color: rgba(198, 122, 25, 0.5);
    font-size: 1.7em;
    position: relative;
    top: 0px;
  }
  .cat-loc h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #e6e6e6;
  }
  #mwork {
    margin-top: 20px;
  }
  #mwork p {
    font-size: 1.2em;
  }
  .mob-box {
    max-width: 400px;
    margin: 0 auto;
  }
  .mob-mar {
    text-align: center;
  }
  .contact1 {
    margin-top: 40px;
  }

  .wrap2 {
    font-size: 1.4em;
    margin: 0px;
    padding: 0px;
    padding-right: 30px;
    width: 100%;
    margin-bottom: 60px;
  }
  .wrap2 ul li {
    list-style: none;
  }
  #gr1, #gr2, #gr3, #gr4 {
    float: left;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .filler {
    clear: left;
  }
  .wrap2 ul {
    padding-top: 20px;
  }
  #mob-t {
    position: relative;
    top: 10px;
  }
  .mob-nav-align {
    margin-top: 30px;
  }
  .mob-color {
    background-color: rgba(198, 122, 25, 0.5);
    width: 220px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
  }
  #im-about {
    height: 40px;
    width: 40px;
    background: url("about.png") no-repeat;
    background-size: 40px;
  }
  #im-about-b {
    height: 40px;
    width: 40px;
    background: url("aboutus-b.png") no-repeat;
    background-size: 40px;
  }
  #im-work {
    height: 40px;
    width: 40px;
    background: url("gearsicon.png") no-repeat;
    background-size: 40px;
  }
  #im-work-b {
    height: 40px;
    width: 40px;
    background: url("gearsicon-b.png") no-repeat;
    background-size: 40px;
  }
  #im-contact {
    height: 40px;
    width: 40px;
    background: url("contacticon.png") no-repeat;
    background-size: 40px;
  }
  #im-contact-b {
    height: 40px;
    width: 40px;
    background: url("contacticon-b.png") no-repeat;
    background-size: 40px;
  }
  #im-home {
    height: 40px;
    width: 40px;
    background: url("home-w.png") no-repeat;
    background-size: 40px;
  }
  #im-home-b {
    height: 40px;
    width: 40px;
    background: url("homeicon.png") no-repeat;
    background-size: 40px;
  }
  .divider {
    height: 40px;
    width: 35px;
    background: url("divider.png") no-repeat;
    background-size: 30px;
  }
  .divider-b {
    height: 40px;
    width: 35px;
    background: url("divider-b.png") no-repeat;
    background-size: 30px;
  }
  .txt {
    position: relative;
    top: 10px;
    color: #e6e6e6;
  }
  .txt-b {
    position: relative;
    top: 10px;
    color: #333333;
  }
  a:hover #im-about, a:hover #im-about-b {
    height: 40px;
    width: 40px;
    background: url("about-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover #im-work, a:hover #im-work-b {
    height: 40px;
    width: 40px;
    background: url("gearsicon-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover #im-contact, a:hover #im-contact-b {
    height: 40px;
    width: 40px;
    background: url("contacticon-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover #im-home, a:hover #im-home-b {
    height: 40px;
    width: 40px;
    background: url("homeicon-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover .divider, a:hover .divider-b {
    height: 40px;
    width: 35px;
    background: url("divider-h.png") no-repeat;
    background-size: 30px;
  }
  a:hover .txt, a:hover .txt-b {
    position: relative;
    top: 10px;
    color: #255681;
  }
  a:hover .mob-color {
    background-color: rgba(230, 230, 230, 0.7);
    width: 220px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .right {
    margin-bottom: 130px;
  }
  .rdtitle {
    max-width: 400px;
    background-color: #d29a0d;
    font-size: 1.7em;
    padding-top: 1px;
    bottom: 15px;
    margin-top: -20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
  }
  .rdstrip {
    max-width: 800px;
  }
  .rd-txt {
    max-width: 500px;
    padding: 60px 50px 60px 50px;
    margin: 0 auto;
  }
  @media (min-width: 720px) {
    .wrap2 {
      display: none;
    }
    .rdtitle {
      margin-left: 100px;
    }
    #home-img {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    #mob-t {
      position: relative;
      top: 16px;
    }
    footer {
      clear: left;
      display: block;
      margin-bottom: 100px;
    }
    .img-mob-bot {
      margin-bottom: 80px;
    }
  .wrap3 {
    display: block;
    font-size: 1.8em;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0px;
  }
  .wrap3 ul li {
    list-style: none;
  }
  #list1, #list3, #gr5, #gr6, #gr7, #gr8 {
    float: left;
  }
  #list2, #list4 {
    float: right;
  }
  .filler {
    clear: left;
  }
  .cs {
    clear: right;
  }
  #gr5, #gr6, #gr7, #gr8 {
  position: relative;
  left: 20px;
  top: 20px;
  }
  .wrap3 ul li {
    display: inline block;
  }
  .mob-color2, .mob-color3 {
    background-color: rgba(198, 122, 25, 0.5);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-right: 35px;
  }
  .mob-color {
    background-color: rgba(198, 122, 25, 0.5);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-left: -2%;
  }
  #mob-t {
    position: relative;
    top: 16px;
  }
  #im-about {
    height: 60px;
    width: 60px;
    background: url("about.png") no-repeat;
    background-size: 60px;
  }
  #im-about-b {
    height: 60px;
    width: 60px;
    background: url("aboutus-b.png") no-repeat;
    background-size: 60px;
  }
  #im-work {
    height: 60px;
    width: 60px;
    background: url("gearsicon.png") no-repeat;
    background-size: 60px;
  }
  #im-work-b {
    height: 60px;
    width: 60px;
    background: url("gearsicon-b.png") no-repeat;
    background-size: 60px;
  }
  #im-contact {
    height: 60px;
    width: 60px;
    background: url("contacticon.png") no-repeat;
    background-size: 60px;
  }
  #im-contact-b {
    height: 60px;
    width: 60px;
    background: url("contacticon-b.png") no-repeat;
    background-size: 60px;
  }
  #im-home {
    height: 60px;
    width: 60px;
    background: url("home-w.png") no-repeat;
    background-size: 60px;
  }
  #im-home-b {
    height: 60px;
    width: 60px;
    background: url("homeicon.png") no-repeat;
    background-size: 60px;
  }
  .divider {
    height: 60px;
    width: 40px;
    background: url("divider.png") no-repeat;
    background-size: 40px;
  }
  .divider-b {
    height: 60px;
    width: 40px;
    background: url("divider-b.png") no-repeat;
    background-size: 40px;
  }
  .txt {
    position: relative;
    top: 15px;
    color: #e6e6e6;
  }
  .txt-b {
    position: relative;
    top: 15px;
    color: #333333;
  }
  a:hover #im-about, a:hover #im-about-b {
    height: 60px;
    width: 60px;
    background: url("about-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover #im-work, a:hover #im-work-b {
    height: 60px;
    width: 60px;
    background: url("gearsicon-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover #im-contact, a:hover #im-contact-b {
    height: 60px;
    width: 60px;
    background: url("contacticon-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover #im-home, a:hover #im-home-b {
    height: 60px;
    width: 60px;
    background: url("homeicon-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover .divider, a:hover .divider-b {
    height: 60px;
    width: 40px;
    background: url("divider-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover .txt, a:hover .txt-b {
    position: relative;
    top: 15px;
    color: #255681;
  }
  a:hover .mob-color {
    background-color: rgba(230, 230, 230, 0.7);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-left: -2%;
  }
  a:hover .mob-color3, a:hover .mob-color2 {
    background-color: rgba(230, 230, 230, 0.7);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-right: 35px;
  }
  }
}
