*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: url("background3.jpg") no-repeat left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mwork {
  margin-top: 110px;
}
#mwork p {
  color: #252525;
  line-height: 1.75em;
}
#mwork h1 {
  color: #252525;
  line-height: 1.3em;
}

h1, li {
  font-family: 'Roboto', sans-serif;
}
h3, p {
  font-family: 'Roboto Condensed', sans-serif;
}
.left a:visited {
color: #1d446b;
}
.left a:link {
color: #1d446b;
text-decoration: none;
}
.left a:hover {
color: #e6e6e6;
text-decoration: underline;
}
.left a:active {
color: #252525;
text-decoration: line-through;
}


@media (min-width: 800px) {
.wrap2, .wrap3 {
    display: none;
}
nav {
  position: relative;
}
#logo img {
  width: 60px;
}
.navigation {
  float: right;
}
#logo {
  float: left;
  padding-left: 10px;
  padding-top: 10px
}
nav ul {
  list-style: none;
  padding-right: 20px;
  padding-top: 10px;
}
nav ul li {
  display: inline-block;
  margin: 5px;
  margin-top: 0px;
  font-size: 1.8em;
  color: #e6e6e6;
}
nav ul img {
  max-height: 40px;
}
nav li a:visited {
  color: #e6e6e6;
}
nav li a:link {
  color: #e6e6e6;
  text-decoration: none;
}
nav li a:hover {
  color: #252525;
}
nav li a:active {
  color: #252525;
}
.wrap {
  background-color: #d29a0d;
  width: 100%;
  height: 80px;
}
#home-img img {
  display:block;
  margin: 0 auto;
  max-width: 70%;
  padding-top: 20px;
}
#home-img {
  margin: 0 auto;
  width: 90%;
  margin-top: 70px;
}
.decor {
  position: fixed;
  width: 150px;
  height: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: rgba(198, 122, 25, 0.5);
  overflow: hidden;
}
.left{
  float: left;
  max-width: 49%;
}
.lright {
  max-width: 900px;
  margin-left: 60px;
}
.lright2 {
  max-width: 600px;
  margin-left: 60px;
}
.text-box1, .text-box2 {
  background-color: #d29a0d;
  position: relative;
  margin-bottom: 100px;
}
.text-box1 {
  text-align: left;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1.25em;
}
h5 {
  font-family: sans-serif;
}
.txt-mar {
  padding: 50px 30px 50px 80px;
}
.txt-mar2 {
  padding: 50px 80px 50px 30px;
}
.cat-loc {
  display: none;
}
.left{
  float: left;
  max-width: 39%;
}
.lright3 {
  max-width: 400px;
  margin-left: 60px;
}
}



@media (max-width: 799px) {
  .wrap3 {
    display: none;
  }
  #logo img {
    width: 40px;
  }
  #web {
    display: none;
  }
  .navigation {
    float: right;
  }
  #logo {
    float: left;
    padding-left: 10px;
    padding-top: 10px
  }
  nav ul {
    padding-right: 20px;
    padding-top: 10px;
  }
  nav ul {
    list-style: none;
    padding-right: 20px;
    padding-top: 10px;
  }
  nav ul li {
    display: inline-block;
    margin: 5px;
    margin-top: 0px;
    font-size: 1.2em;
    color: #e6e6e6;
  }
  nav ul img {
    max-height: 20px;
  }
  nav li a:visited {
    color: #e6e6e6;
  }
  nav li a:link {
    color: #e6e6e6;
    text-decoration: none;
  }
  nav li a:hover {
    color: #252525;
  }
  nav li a:active {
    color: #252525;
  }
  .wrap {
    background-color: #d29a0d;
    width: 100%;
    height: 60px;
  }
  #home-img img {
    display:block;
    margin: 0 auto;
    max-width: 90%;
    padding-top: 20px;
  }
  #home-img {
    margin: 0 auto;
    width: 90%;
    margin-top: 60px;
  }
  .wrap2 {
    font-size: 1.4em;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 60px;
  }
  .wrap2 ul img {
    max-height: 40px;
  }
  .wrap2 ul li {
    list-style: none;
  }
  #gr1, #gr2, #gr3, #gr4 {
    float: left;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .filler {
    clear: left;
  }
  .wrap2 ul {
    padding-top: 20px;
  }
  #mob-t {
    position: relative;
    top: 10px;
  }
  .wrap2 li a:visited {
    color: #e6e6e6;
  }
  .wrap2 li a:link {
    color: #e6e6e6;
    text-decoration: none;
  }
  .wrap2 li a:hover {
    color: #252525;
  }
  .wrap2 li a:active {
    color: #252525;
  }
  .mob-nav-align {
    margin-top: 30px;
  }
  .mob-color {
    background-color: rgba(198, 122, 25, 0.5);
    width: 220px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .text-box1 {
    background-color: #d29a0d;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .txt-mar {
    max-width: 350px;
    margin: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .cat-loc {
    max-width: 400px;
    background-color: rgba(198, 122, 25, 0.5);
    font-size: 1.7em;
    position: relative;
    top: 0px;
  }
  .cat-loc h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #e6e6e6;
  }
  #mwork {
    margin-top: 20px;
  }
  .sel-w li a:link {
    color: #333333;
  }
  .sel-w li a:visited {
    color: #333333;
  }
  #mwork p {
    font-size: 1.2em;
  }
  .mob-box {
    max-width: 400px;
    margin: 0 auto;
  }
  .mob-mar {
    text-align: center;
  }
  @media (min-width: 720px) {
    .wrap2 {
      display: none;
    }
    .wrap3 {
      display: block;
      font-size: 1.8em;
      margin: 0px;
      padding: 0px;
      width: 100%;
    }
    .wrap3 ul img {
      max-height: 60px;
    }
    .wrap3 ul li {
      list-style: none;
    }
    .wrap3 li a:visited {
      color: #e6e6e6;
    }
    .wrap3 li a:link {
      color: #e6e6e6;
      text-decoration: none;
    }
    .wrap3 li a:hover {
      color: #252525;
    }
    .wrap3 li a:active {
      color: #252525;
    }
    .sel-w li a:link {
      color: #333333;
    }
    .sel-w li a:visited {
      color: #333333;
    }
    #list1, #list3, #gr5, #gr6, #gr7, #gr8 {
      float: left;
    }
    #gr5, #gr6, #gr7, #gr8 {
    position: relative;
    left: 20px;
    top: 20px;
    }
    #list2, #list4 {
      float: right;
    }
    .wrap3 ul li {
      display: inline block;
    }
    .mob-color2 {
      background-color: rgba(198, 122, 25, 0.5);
      width: 300px;
      height: 100px;
      margin-top: 40px;
      margin-right: 35px;
    }
    .mob-color {
      width: 300px;
      height: 100px;
      margin-top: 40px;
      margin-left: -2%;
    }
    #home-img {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    #mob-t {
      position: relative;
      top: 16px;
    }
    footer {
      clear: left;
      display: block;
      margin-bottom: 100px;
    }
  }
}
