*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: url("background3.jpg") no-repeat left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact1 {
  margin-top: -70px;
}
#mwork {
  margin-top: 210px;
}
#mwork p, .read-wrap p {
  color: #252525;
  line-height: 1.75em;
}
#mwork h1, .read-wrap h3, .txt-mar h3 {
  color: #252525;
  line-height: 1.3em;
}
h2 {
  color: #252525;
  line-height: 1.3em;
  font-size: 1.6em;
}
h1, li {
  font-family: 'Roboto', sans-serif;
}
h2, h3, p {
  font-family: 'Roboto Condensed', sans-serif;
}
#p {
  font-weight: bold;
}
.left a {
  color: #1d446b;
}
.left a:visited {
color: #1d446b;
}
.left a:link {
color: #1d446b;
text-decoration: none;
}
.left a:hover {
color: #e6e6e6;
text-decoration: underline;
}
.left a:active {
color: #252525;
text-decoration: line-through;
}


@media (min-width: 800px) {
.disp, #nav-mob, .mobile {
    display: none;
  }
.wrap2, .wrap3 {
    display: none;
}
nav {
  position: relative;
}
#logo img {
  width: 60px;
}
.navigation {
  float: right;
}
#logo {
  float: left;
  padding-left: 10px;
  padding-top: 10px
}
nav ul {
  list-style: none;
  padding-right: 20px;
  padding-top: 10px;
}
nav ul li {
  display: inline-block; margin: 5px; margin-top: 0px; font-size: 1.8em; color: #e6e6e6;
}
nav ul img {
  max-height: 40px;
}
nav li a:visited {
  color: #e6e6e6;
}
nav li a:link {
  color: #e6e6e6;
  text-decoration: none;
}
nav li a:hover {
  color: #252525;
}
nav li a:active {
  color: #252525;
}
.wrap {
  background-color: #d29a0d;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  box-shadow: 0px 0px 20px #000000;
  z-index: 9004;
}
#home-img img {
  display:block;
  margin: 0 auto;
  max-width: 70%;
  padding-top: 20px;
}
#home-img {
  margin: 0 auto;
  width: 90%;
  margin-top: 150px;
}
.decor {
  position: fixed;
  top: 0px;
  width: 150px;
  height: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: rgba(198, 122, 25, 0.5);
  overflow: hidden;
}
.decor2 {
  position: fixed;
  top: 0px;
  right: 0;
  width: 150px;
  height: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: rgba(198, 122, 25, 0.5);
  overflow: hidden;
}
.left{
  float: left;
  max-width: 49%;
}
.right {
  float: right;
  max-width: 49%;
  margin-right: 35px;
}
.lright, .lright2 {
  max-width: 550px;
  margin-left: 60px;
}
.text-box1, .text-box2 {
  background-color: #d29a0d;
}
.img-box,.text-box1, .text-box2 {
  position: relative;
  margin-bottom: 100px;
}
.img-box img {
  max-width: 1200px;
}
.text-box1 {
  text-align: left;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1.25em;
}
h5 {
  font-family: sans-serif;
}
.txt-mar {
  padding: 50px 30px 50px 80px;
}
.txt-mar2 {
  padding: 50px 80px 50px 30px;
}
.txt-mar4{
  padding: 70px 0px 70px 0px;
}
.cat-loc {
  display: none;
}
.left{
  float: left;
  max-width: 700px;
  margin-bottom: 100px;
}
.lright3 {
  max-width: 400px;
  margin-left: 60px;
}
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:fixed;
   z-index: 9001;
   top:80px;
   left:0px;
   width:100%;
}
#popUpDiv1, #popUpDiv2, #popUpDiv3 {
	position:absolute;
	z-index: 9002;
}
.readmore {
  background: #d29a0d;
  max-width: 800px;
  box-shadow: 0px 0px 40px #000000;
}
.read-wrap {
  max-width: 700px;
  padding: 70px 50px 70px 50px;
  margin: 0 auto;
}
.read-wrap h1, .read-wrap h3{
  text-align: center;
}
.readmore a {
  position: relative;
  top:30px;
  left:20px;
  color: #e6e6e6;
  text-decoration: none;
  font-size: 3em;
  border: solid #e6e6e6;
  border-width: 2px;
  padding: 10px 10px 0px 10px;
}
.readmore a:hover{
  color: #252525;
  border: solid #252525;
}
.clear {
  clear: both;
}
.rdtitle {
  max-width: 600px;
  background-color: #d29a0d;
  font-size: 1.1em;
  position: relative;
  margin-left: 50px;
  margin-top: -130px;
  padding-top: 1px;
  bottom: 15px;
  text-align: center;
}
.rdtitle h1 {
  padding: 15px;
}
.rdcontainer {
  margin-left: 150px;
  margin-right: 150px;
}
.rdstrip {
  max-width: 80%;
  margin: 0 auto;
}
.rd-txt {
  max-width: 500px;
  margin: 0 auto;
}
.img-box {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
.img-box img {
  width: 100%;
  margin: 0 auto;
}
.lang {
  position: fixed;
  top: 0px;
  z-index: 9003;
  right: 0px;
  margin-top: 80px;
  background-color: #d29a0d;
  height: 22px;
  width: 85px;
}
.lang-img {
  margin: 5px 10px 15px 10px;
}
.lang img {
  width: 20px;
  margin-right: 5px;
}
.lang img:hover {
  border: 1px solid #e6e6e6;
}
.work-img, .work-img img {
  max-width: 95%;
  margin: 5px 0px 15px 0px;
}
.pop-img {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 35px;
}
.pop-img img {
  width: 100%;
}
.popd3 {
  margin-top: -20px;
}
.img-en {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  .txt-mar4{
    padding: 70px 50px 70px 50px;
  }
  .left{
    max-width: 60%;
    margin-bottom: 0px;
  }
  .work-img, .work-img img {
    max-width: 95%;
  }
  .disp {
    display: block;
  }
  .disp2 {
    display: none;
  }
  .right {
    margin-right: 20%;
    margin-bottom: 80px;
    margin-top: -50px;
  }
  #rus-h1{
    font-size: 1.8em;
  }
}
/*COLUMNS*/
.column {float: left; padding-left: 1em; padding-right: 1em;}
.column.full {width: 100%;}
.column.two-thirds {width: 66.7%;}
.column.half {width: 50%;}
.column.third {width: 33.3%;}
.column.fourth {width: 25%;}
.column.flow-opposite {float: right;}
/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
}
}



@media (max-width: 799px) {
  .disp2, .decor2, .decor, #nav-web, .website, .readmore {
    display: none;
  }
  .img-box {
    max-width: 80%;
    margin: 0 auto;
  }
  .img-mob {
    margin-bottom: 10px;
  }
  .img-en {
    padding-bottom: 80px;
  }
  .img-box img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .wrap3 {
    display: none;
  }
  #logo img {
    width: 40px;
  }
  #web {
    display: none;
  }
  .navigation {
    float: right;
  }
  #logo {
    float: left;
    padding-left: 10px;
    padding-top: 10px
  }
  nav ul {
    padding-right: 20px;
    padding-top: 10px;
  }
  nav ul {
    list-style: none;
    padding-right: 20px;
    padding-top: 10px;
  }
  nav ul li {
    display: inline-block;
    margin: 5px;
    margin-top: 0px;
    font-size: 1.2em;
    color: #e6e6e6;
  }
  nav ul img {
    max-height: 20px;
  }
  nav li a:visited {
    color: #e6e6e6;
  }
  nav li a:link {
    color: #e6e6e6;
    text-decoration: none;
  }
  nav li a:hover {
    color: #252525;
  }
  nav li a:active {
    color: #252525;
  }
  .wrap {
    background-color: #d29a0d;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 20px #000000;
    position: relative;
    z-index: 9004;
  }
  .lang {
    position: absolute;
    top: 0px;
    z-index: 9003;
    right: 0px;
    margin-top: 60px;
    background-color: #d29a0d;
    box-shadow: 0px 0px 20px #000000;
    height: 22px;
    width: 85px;
  }
  .lang-img {
    margin: 5px 10px 15px 10px;
  }
  .lang img {
    width: 20px;
    margin-right: 5px;
  }
  .lang img:hover {
    border: 1px solid #e6e6e6;
  }
  #home-img img {
    display:block;
    margin: 0 auto;
    max-width: 90%;
    padding-top: 20px;
  }
  #home-img {
    margin: 0 auto;
    width: 90%;
    margin-top: 60px;
  }
  .wrap2 {
    font-size: 1.4em;
    margin: 0px;
    margin-left: -20px;
    padding: 0px;
    width: 100%;
    margin-bottom: 60px;
  }
  .wrap2 ul img {
    max-height: 40px;
  }
  .wrap2 ul li {
    list-style: none;
  }
  #gr1, #gr2, #gr3, #gr4 {
    float: left;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .filler {
    clear: left;
  }
  .wrap2 ul {
    padding-top: 20px;
  }
  .wrap2 a {
    text-decoration: none;
  }
  #mob-t {
    position: relative;
    top: 10px;
  }
  .mob-nav-align {
    margin-top: 30px;
  }
  .text-box1, .disp {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .text-box1 {
    background-color: #d29a0d;
  }
  .txt-mar {
    max-width: 350px;
    margin: 0 auto;
    padding: 40px 40px 10px 40px;
  }
  .cat-loc {
    max-width: 400px;
    background-color: rgba(198, 122, 25, 0.5);
    font-size: 1.7em;
    position: relative;
    top: 0px;
  }
  .cat-loc h1 {
    text-align: center;
    padding: 40px 15px 20px 15px;
    color: #e6e6e6;
  }
  #mwork {
    margin-top: 20px;
  }
  #mwork p {
    font-size: 1.2em;
  }
  .mob-box {
    max-width: 400px;
    margin: 0 auto;
  }
  .mob-mar {
    text-align: center;
  }
  .contact1 {
    margin-top: 40px;
  }

  .wrap2 {
    font-size: 1.4em;
    margin: 0px;
    padding: 0px;
    padding-right: 30px;
    width: 100%;
    margin-bottom: 60px;
  }
  .wrap2 ul li {
    list-style: none;
  }
  #gr1, #gr2, #gr3, #gr4 {
    float: left;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .filler {
    clear: left;
  }
  .wrap2 ul {
    padding-top: 20px;
  }
  #mob-t {
    position: relative;
    top: 10px;
  }
  .mob-nav-align {
    margin-top: 30px;
  }
  .mob-color {
    background-color: rgba(198, 122, 25, 0.5);
    width: 220px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
  }
  #im-about {
    height: 40px;
    width: 40px;
    background: url("about.png") no-repeat;
    background-size: 40px;
  }
  #im-about-b {
    height: 40px;
    width: 40px;
    background: url("aboutus-b.png") no-repeat;
    background-size: 40px;
  }
  #im-work {
    height: 40px;
    width: 40px;
    background: url("gearsicon.png") no-repeat;
    background-size: 40px;
  }
  #im-work-b {
    height: 40px;
    width: 40px;
    background: url("gearsicon-b.png") no-repeat;
    background-size: 40px;
  }
  #im-contact {
    height: 40px;
    width: 40px;
    background: url("contacticon.png") no-repeat;
    background-size: 40px;
  }
  #im-contact-b {
    height: 40px;
    width: 40px;
    background: url("contacticon-b.png") no-repeat;
    background-size: 40px;
  }
  #im-home {
    height: 40px;
    width: 40px;
    background: url("home-w.png") no-repeat;
    background-size: 40px;
  }
  #im-home-b {
    height: 40px;
    width: 40px;
    background: url("homeicon.png") no-repeat;
    background-size: 40px;
  }
  .divider {
    height: 40px;
    width: 35px;
    background: url("divider.png") no-repeat;
    background-size: 30px;
  }
  .divider-b {
    height: 40px;
    width: 35px;
    background: url("divider-b.png") no-repeat;
    background-size: 30px;
  }
  .txt {
    position: relative;
    top: 10px;
    color: #e6e6e6;
  }
  .txt-b {
    position: relative;
    top: 10px;
    color: #333333;
  }
  a:hover #im-about, a:hover #im-about-b {
    height: 40px;
    width: 40px;
    background: url("about-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover #im-work, a:hover #im-work-b {
    height: 40px;
    width: 40px;
    background: url("gearsicon-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover #im-contact, a:hover #im-contact-b {
    height: 40px;
    width: 40px;
    background: url("contacticon-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover #im-home, a:hover #im-home-b {
    height: 40px;
    width: 40px;
    background: url("homeicon-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover .divider, a:hover .divider-b {
    height: 40px;
    width: 35px;
    background: url("divider-h.png") no-repeat;
    background-size: 30px;
  }
  a:hover .txt, a:hover .txt-b {
    position: relative;
    top: 10px;
    color: #255681;
  }
  a:hover .mob-color {
    background-color: rgba(230, 230, 230, 0.7);
    width: 220px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .right {
    margin-bottom: 130px;
  }
  .rdtitle {
    max-width: 400px;
    background-color: #d29a0d;
    font-size: 1em;
    padding-top: 1px;
    bottom: 15px;
    margin-top: -20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
  }
  .rdtitle h1 {
    padding: 10px;
  }
  .rdstrip {
    max-width: 800px;
  }
  .rd-txt {
    max-width: 500px;
    padding: 60px 50px 60px 50px;
    margin: 0 auto;
  }
  .rd-txt h3 {
    font-size: 1.4em;
  }
  .rus-txt {
    position: relative;
    bottom: 17px;
  }
  .work-img, .work-img img {
    max-width: 100%;
    margin: 5px 0px 15px 0px;
  }
  @media (min-width: 720px) {
    .wrap2 {
      display: none;
    }
    .rdtitle {
      margin-left: 100px;
    }
    #home-img {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    #mob-t {
      position: relative;
      top: 16px;
    }
    footer {
      clear: left;
      display: block;
      margin-bottom: 100px;
    }
    .img-mob-bot {
      margin-bottom: 80px;
    }
  .wrap3 {
    display: block;
    font-size: 1.8em;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0px;
  }
  .wrap3 ul li {
    list-style: none;
  }
  #list1, #list3, #gr5, #gr6, #gr7, #gr8 {
    float: left;
  }
  #list2, #list4 {
    float: right;
  }
  .filler {
    clear: left;
  }
  .cs {
    clear: right;
  }
  #gr5, #gr6, #gr7, #gr8 {
  position: relative;
  left: 20px;
  top: 20px;
  }
  .wrap3 ul li {
    display: inline block;
  }
  .mob-color2, .mob-color3 {
    background-color: rgba(198, 122, 25, 0.5);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-right: 35px;
  }
  .mob-color {
    background-color: rgba(198, 122, 25, 0.5);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-left: -2%;
  }
  #mob-t {
    position: relative;
    top: 16px;
  }
  #im-about {
    height: 60px;
    width: 60px;
    background: url("about.png") no-repeat;
    background-size: 60px;
  }
  #im-about-b {
    height: 60px;
    width: 60px;
    background: url("aboutus-b.png") no-repeat;
    background-size: 60px;
  }
  #im-work {
    height: 60px;
    width: 60px;
    background: url("gearsicon.png") no-repeat;
    background-size: 60px;
  }
  #im-work-b {
    height: 60px;
    width: 60px;
    background: url("gearsicon-b.png") no-repeat;
    background-size: 60px;
  }
  #im-contact {
    height: 60px;
    width: 60px;
    background: url("contacticon.png") no-repeat;
    background-size: 60px;
  }
  #im-contact-b {
    height: 60px;
    width: 60px;
    background: url("contacticon-b.png") no-repeat;
    background-size: 60px;
  }
  #im-home {
    height: 60px;
    width: 60px;
    background: url("home-w.png") no-repeat;
    background-size: 60px;
  }
  #im-home-b {
    height: 60px;
    width: 60px;
    background: url("homeicon.png") no-repeat;
    background-size: 60px;
  }
  .divider {
    height: 60px;
    width: 40px;
    background: url("divider.png") no-repeat;
    background-size: 40px;
  }
  .divider-b {
    height: 60px;
    width: 40px;
    background: url("divider-b.png") no-repeat;
    background-size: 40px;
  }
  .txt {
    position: relative;
    top: 15px;
    color: #e6e6e6;
  }
  .txt-b {
    position: relative;
    top: 15px;
    color: #333333;
  }
  a:hover #im-about, a:hover #im-about-b {
    height: 60px;
    width: 60px;
    background: url("about-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover #im-work, a:hover #im-work-b {
    height: 60px;
    width: 60px;
    background: url("gearsicon-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover #im-contact, a:hover #im-contact-b {
    height: 60px;
    width: 60px;
    background: url("contacticon-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover #im-home, a:hover #im-home-b {
    height: 60px;
    width: 60px;
    background: url("homeicon-h.png") no-repeat;
    background-size: 60px;
  }
  a:hover .divider, a:hover .divider-b {
    height: 60px;
    width: 40px;
    background: url("divider-h.png") no-repeat;
    background-size: 40px;
  }
  a:hover .txt, a:hover .txt-b {
    position: relative;
    top: 15px;
    color: #255681;
  }
  a:hover .mob-color {
    background-color: rgba(230, 230, 230, 0.7);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-left: -2%;
  }
  a:hover .mob-color3, a:hover .mob-color2 {
    background-color: rgba(230, 230, 230, 0.7);
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-right: 35px;
  }
  .rus-txt {
    position: relative;
    bottom: 21px;
  }
  }
}
